<h1 mat-dialog-title>Edit Todo</h1>

<div mat-dialog-content>
    <div mat-form-field>
        <input hidden="true" matInput placeholder="{{data.id}}" [(ngModel)]="todoData.id" required>
    </div>
    <div mat-form-field>
        <input matInput type="text" placeholder="{{data.title}}" [(ngModel)]="todoData.title" required>
    </div>
    <div mat-form-field>
        <input matInput type="datetime-local" placeholder="{{data.dueDate}}" [(ngModel)]="todoData.dueDate">
    </div>
    <div mat-form-field>
        <mat-checkbox [checked]="data.completed" [(ngModel)]="todoData.completed"></mat-checkbox>
    </div>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="edit(todoData)">Edit</button>
</div>